body {
  background: #f8e8a6;
}

h1,
footer,
p {
  display: block;
  text-align: center;
}

.soccer-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer a {
  margin: 0 10px;
  color: green;
}
